# Regression Exercise 

California Housing Data

This data set contains information about all the block groups in California from the 1990 Census. In this sample a block group on average includes 1425.5 individuals living in a geographically compact area. 

The task is to aproximate the median house value of each block from the values of the rest of the variables. 

 It has been obtained from the LIACC repository. The original page where the data set can be found is: http://www.liaad.up.pt/~ltorgo/Regression/DataSets.html.

The Features:
 
* housingMedianAge: continuous. 
* totalRooms: continuous. 
* totalBedrooms: continuous. 
* population: continuous. 
* households: continuous. 
* medianIncome: continuous. 
* medianHouseValue: continuous.

## The Data

** Import the cal_housing_clean.csv file with pandas. Separate it into a training (70%) and testing set(30%).**

In [65]:
import pandas as pd

In [66]:
dataset = pd.read_csv('cal_housing_clean.csv')

In [67]:
dataset.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [68]:
dataset.describe()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,28.639486,2635.763081,537.898014,1425.476744,499.539680,3.870671,206855.816909
std,12.585558,2181.615252,421.247906,1132.462122,382.329753,1.899822,115395.615874
min,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,18.000000,1447.750000,295.000000,787.000000,280.000000,2.563400,119600.000000
50%,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [69]:
x_data = dataset.drop(['medianHouseValue'],axis=1)

In [70]:
y_val = dataset['medianHouseValue']

In [71]:
from sklearn.model_selection import train_test_split

In [72]:
X_train, X_test, Y_train, Y_test = train_test_split(x_data,y_val,test_size=0.3,random_state=101)

### Scale the Feature Data

** Use sklearn preprocessing to create a MinMaxScaler for the feature data. Fit this scaler only to the training data. Then use it to transform X_test and X_train. Then use the scaled X_test and X_train along with pd.Dataframe to re-create two dataframes of scaled data.**

In [73]:
from sklearn.preprocessing import MinMaxScaler

In [74]:
scaler = MinMaxScaler()

In [75]:
scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [76]:
X_train = pd.DataFrame(data=scaler.transform(X_train),columns = X_train.columns,index=X_train.index)

In [77]:
X_test = pd.DataFrame(data=scaler.transform(X_test),columns = X_test.columns,index=X_test.index)

### Create Feature Columns

** Create the necessary tf.feature_column objects for the estimator. They should all be trated as continuous numeric_columns. **

In [78]:
dataset.columns

Index(['housingMedianAge', 'totalRooms', 'totalBedrooms', 'population',
       'households', 'medianIncome', 'medianHouseValue'],
      dtype='object')

In [79]:
import tensorflow as tf

In [80]:
age = tf.feature_column.numeric_column('housingMedianAge')
rooms = tf.feature_column.numeric_column('totalRooms')
bedrooms = tf.feature_column.numeric_column('totalBedrooms')
pop = tf.feature_column.numeric_column('population')
households = tf.feature_column.numeric_column('households')
income = tf.feature_column.numeric_column('medianIncome')

In [81]:
feat_cols = [age, rooms, bedrooms, pop, households, income]

** Create the input function for the estimator object. (play around with batch_size and num_epochs)**

In [82]:
input_function = tf.estimator.inputs.pandas_input_fn(x= X_train, y=Y_train, batch_size=10, num_epochs=1000, shuffle=True)

** Create the estimator model. Use a DNNRegressor. Play around with the hidden units! **

In [83]:
estimator = tf.estimator.DNNRegressor([10, 10, 10], feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\Babban\AppData\Local\Temp\tmp716x4rwa
INFO:tensorflow:Using config: {'_num_ps_replicas': 0, '_save_summary_steps': 100, '_evaluation_master': '', '_service': None, '_tf_random_seed': None, '_log_step_count_steps': 100, '_save_checkpoints_secs': 600, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x00000210804E3400>, '_model_dir': 'C:\\Users\\Babban\\AppData\\Local\\Temp\\tmp716x4rwa', '_is_chief': True, '_session_config': None, '_num_worker_replicas': 1, '_keep_checkpoint_every_n_hours': 10000, '_master': '', '_global_id_in_cluster': 0, '_save_checkpoints_steps': None, '_task_id': 0, '_task_type': 'worker', '_keep_checkpoint_max': 5}

##### ** Train the model for ~1,000 steps. (Later come back to this and train it for more and check for improvement) **

In [84]:
estimator.train(input_fn=input_function, steps=1000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\Babban\AppData\Local\Temp\tmp716x4rwa\model.ckpt.
INFO:tensorflow:step = 1, loss = 528259600000.0
INFO:tensorflow:global_step/sec: 434.621
INFO:tensorflow:step = 101, loss = 849866260000.0 (0.235 sec)
INFO:tensorflow:global_step/sec: 587.923
INFO:tensorflow:step = 201, loss = 620948200000.0 (0.170 sec)
INFO:tensorflow:global_step/sec: 550.567
INFO:tensorflow:step = 301, loss = 518166640000.0 (0.187 sec)
INFO:tensorflow:global_step/sec: 571.127
INFO:tensorflow:step = 401, loss = 434837360000.0 (0.170 sec)
INFO:tensorflow:global_step/sec: 605.74
INFO:tensorflow:step = 501, loss = 190016160000.0 (0.170 sec)
INFO:tensorflow:global_step/sec: 571.124
INFO:tensorflow:step = 601, loss = 306067100000.0 (0.170 sec)
INFO:tensorflow:global_step/sec: 540.253
INFO:tensorflow:step = 701, loss = 190685050000.0 (0.180 sec)
INFO:tensorflow:global_step/sec: 571.127
INFO:tensorflow:step = 801, loss = 299991200000.0 (0.175 sec)
INFO:tensorflow:global_step/sec: 605.737
INFO:tensorflow:step = 901, loss = 126064030000.0 (0.170 sec)
INFO:tensorflow:Saving checkpoints for 1000 into C:\Users\Babban\AppData\Local\Temp\tmp716x4rwa\model.ckpt.
INFO:tensorflow:Loss for final step: 180979340000.0.

** Create a prediction input function and then use the .predict method off your estimator model to create a list or predictions on your test data. **

In [85]:
pred_input_func = tf.estimator.inputs.pandas_input_fn(x = X_test,batch_size=10, num_epochs=1, shuffle=False)

In [86]:
predictions = estimator.predict(pred_input_func)

In [87]:
predictions = list(predictions)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\Babban\AppData\Local\Temp\tmp716x4rwa\model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Calculate the RMSE. You should be able to get around 100,000 RMSE (remember that this is in the same units as the label.) Do this manually or use [sklearn.metrics](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html) **

In [88]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['predictions'])

In [89]:
from sklearn.metrics import mean_squared_error

In [90]:
mean_squared_error(y_test,final_preds)**0.5

124758.88804890522

# Great Job!