# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [49]:
import pandas as pd

In [50]:
dataset = pd.read_csv('census_data.csv')

In [51]:
dataset.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [52]:
dataset['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [53]:
def changer(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [54]:
dataset['income_bracket'] = dataset['income_bracket'].apply(changer)

### Perform a Train Test Split on the Data

In [55]:
from sklearn.cross_validation import train_test_split

In [56]:
X_train, X_test, Y_train, Y_test = train_test_split(dataset.drop('income_bracket',axis=1),dataset['income_bracket'], test_size = 0.3)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [57]:
dataset.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [58]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [59]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [60]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [61]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [62]:
input_func=tf.estimator.inputs.pandas_input_fn(x=X_train,y=Y_train,batch_size=100,num_epochs=10,shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [63]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\Babban\AppData\Local\Temp\tmp1t57ek_y
INFO:tensorflow:Using config: {'_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_keep_checkpoint_max': 5, '_model_dir': 'C:\\Users\\Babban\\AppData\\Local\\Temp\\tmp1t57ek_y', '_global_id_in_cluster': 0, '_service': None, '_task_type': 'worker', '_master': '', '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000001E851D353C8>, '_log_step_count_steps': 100, '_session_config': None, '_is_chief': True, '_evaluation_master': '', '_keep_checkpoint_every_n_hours': 10000, '_save_summary_steps': 100, '_num_worker_replicas': 1, '_task_id': 0, '_num_ps_replicas': 0, '_tf_random_seed': None}

** Train your model on the data, for at least 5000 steps. **

In [64]:
model.train(input_func)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\Babban\AppData\Local\Temp\tmp1t57ek_y\model.ckpt.
INFO:tensorflow:step = 1, loss = 69.31472
INFO:tensorflow:global_step/sec: 112.32
INFO:tensorflow:step = 101, loss = 142.95609 (0.893 sec)
INFO:tensorflow:global_step/sec: 156.569
INFO:tensorflow:step = 201, loss = 301.87738 (0.643 sec)
INFO:tensorflow:global_step/sec: 164.442
INFO:tensorflow:step = 301, loss = 65.463905 (0.607 sec)
INFO:tensorflow:global_step/sec: 194.216
INFO:tensorflow:step = 401, loss = 62.38598 (0.515 sec)
INFO:tensorflow:global_step/sec: 204.164
INFO:tensorflow:step = 501, loss = 39.686855 (0.487 sec)
INFO:tensorflow:global_step/sec: 205.214
INFO:tensorflow:step = 601, loss = 162.651 (0.494 sec)
INFO:tensorflow:global_step/sec: 174.972
INFO:tensorflow:step = 701, loss = 87.33088 (0.566 sec)
INFO:tensorflow:global_step/sec: 149.976
INFO:tensorflow:step = 801, loss = 54.06715 (0.668 sec)
INFO:tensorflow:global_step/sec: 201.077
INFO:tensorflow:step = 901, loss = 396.34695 (0.495 sec)
INFO:tensorflow:global_step/sec: 179.375
INFO:tensorflow:step = 1001, loss = 110.53226 (0.557 sec)
INFO:tensorflow:global_step/sec: 215.408
INFO:tensorflow:step = 1101, loss = 32.170437 (0.465 sec)
INFO:tensorflow:global_step/sec: 220.397
INFO:tensorflow:step = 1201, loss = 232.81136 (0.453 sec)
INFO:tensorflow:global_step/sec: 217.286
INFO:tensorflow:step = 1301, loss = 184.18922 (0.461 sec)
INFO:tensorflow:global_step/sec: 218.715
INFO:tensorflow:step = 1401, loss = 469.33984 (0.457 sec)
INFO:tensorflow:global_step/sec: 216.103
INFO:tensorflow:step = 1501, loss = 32.300613 (0.463 sec)
INFO:tensorflow:global_step/sec: 220.895
INFO:tensorflow:step = 1601, loss = 104.63203 (0.451 sec)
INFO:tensorflow:global_step/sec: 224.122
INFO:tensorflow:step = 1701, loss = 41.954636 (0.449 sec)
INFO:tensorflow:global_step/sec: 218.955
INFO:tensorflow:step = 1801, loss = 47.844986 (0.454 sec)
INFO:tensorflow:global_step/sec: 170.778
INFO:tensorflow:step = 1901, loss = 27.889654 (0.589 sec)
INFO:tensorflow:global_step/sec: 209.086
INFO:tensorflow:step = 2001, loss = 97.83428 (0.475 sec)
INFO:tensorflow:global_step/sec: 219.921
INFO:tensorflow:step = 2101, loss = 45.81266 (0.455 sec)
INFO:tensorflow:global_step/sec: 221.524
INFO:tensorflow:step = 2201, loss = 37.01174 (0.451 sec)
INFO:tensorflow:Saving checkpoints for 2280 into C:\Users\Babban\AppData\Local\Temp\tmp1t57ek_y\model.ckpt.
INFO:tensorflow:Loss for final step: 17.256609.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [65]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [66]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\Babban\AppData\Local\Temp\tmp1t57ek_y\model.ckpt-2280
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Each item in your list will look like this: **

In [67]:
predictions[0]

{'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'logistic': array([0.00080169], dtype=float32),
 'logits': array([-7.1279807], dtype=float32),
 'probabilities': array([9.991984e-01, 8.016947e-04], dtype=float32)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [68]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [69]:
final_preds[:10]

[0, 1, 0, 0, 0, 0, 0, 1, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

# Great Job!